/* Center the loader */
#loader-wrapper {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);   
}
#loader span{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #9cfff0;
  border: none;  
  border-radius: 50%;
  display: inline-block;
}
#loader span:nth-child(1) {
  left:60px;
  animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
  animation-delay: 0s;
  background: #93F9B9;
}
#loader span:nth-child(2) {
  left:20px;
  animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
  animation-delay: .2s;
  background: #72dda3;
}
#loader span:nth-child(3) {
  left:-20px;
  animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
  animation-delay: .4s;
  background: #3cb080;
}
#loader span:nth-child(4) {
  left: -60px;
  animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
  animation-delay: .6s;
  background: #1D976C;
}

@keyframes bounce2 {
  0%, 75%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-30px);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}